page-duty-history {
    .title {
        white-space: initial;
        /* line-height: 1.7rem; */
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        padding: 0px 15px;
    }

}
