<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button clear class="btncolor" (click)="closeWindows()">
                <ion-icon name="arrow-back" style="color:#48A7F3;font-size: 3rem"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-buttons end *ngIf="role.canConfirm==1">
            <button ion-button clear (click)="batchClick()" style="font-size:13px">批量审批</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list style="padding-bottom: 60px">
        <div *ngIf="items.length==0" style="color:#999999;text-align:center;margin-top:150px">
            <img src="./assets/imgs/null.png" style="width:150px;height:150px" alt="">
            <p>暂无内容</p>
        </div>
        <ion-item *ngFor="let item of items" style="border-bottom: 0.55px solid #EDEDED;">
            <ion-avatar item-start>
                <img style="border-radius: 5px;float:left" onerror="this.onerror=null;src='./assets/imgs/user.png'" src="{{item.avatar}}">
                <div style="float:left;width:150px;margin-left:10px">
                    <h2>{{item.userName}}</h2>
                    <p *ngIf="item.grade == 0">考评结果： 未评价</p>
                    <p *ngIf="item.grade == 1">考评结果： 优秀</p>
                    <p *ngIf="item.grade == 2">考评结果： 称职</p>
                    <p *ngIf="item.grade == 3">考评结果： 努力达标</p>
                </div>
            </ion-avatar>
            <button ion-button outline item-end (click)="toEdit(item)" *ngIf="role.canConfirm==1">编辑</button>
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer *ngIf="role.canConfirm==1">
    <ion-toolbar>
        <ion-grid>
            <ion-row style="text-align:center">
                <ion-col col-6>
                    <button ion-button round (click)="entrust()" small outline style="width:100%">委托审批</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button round (click)="confirmClick()" small full>考评确认</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>