page-workpanel {
    [col-3] {
        padding: 5px;
        margin: 0 0 10px 0;
    }
    .app-name {
        font-size:13px;
        margin:0
    }
    .titles {
        color:#5A5A5A;
        margin-left:20px
    }
    .delete {
        margin: -7px 0 0 40px;
        position: absolute;
        width: 20px;
    }
    .kanban {
        margin: 30px 0 0 0;
        position: absolute;
        width: 20px;
    }
    

}
