page-duty-content {
    .title {
        white-space: initial;
        /* line-height: 1.7rem; */
        font-size: 15px;
        line-height: 25px;
    }
    .labels {
        background-color: #26AAF9;
        font-size: 12px;
        padding: 3px 6px;
        border-radius: 10px;
        line-height: 24px;
        color:#ffffff;
        margin-right: 10px
    }

}
